<!DOCTYPE html>
<html>
<head>
    <title>Mot de passe oublié</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="content-wrapper">
        <h1 style="color: {{ couleur_texte }};">Mot de passe oublié</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form method="POST" style="color: {{ couleur_texte }};">
            <div class="form-row">
                <label for="nom_utilisateur">Nom d'utilisateur (prénom.nom):</label>
                <input type="text" name="nom_utilisateur" id="nom_utilisateur" required>
            </div>

            <button type="submit">Réinitialiser le mot de passe</button>
        </form>
    </div>

    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/fond_' + session['utilisateur_connecte']['email'] + '.jpg') }}");
            background-size: cover;
            background-repeat: no-repeat;
            color: {{ session.get('couleur_texte', 'black') }};
        }
    </style>
</body>
</html>